.banner{
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 50%), url("../../images/vettel3.jpg") ;
	padding: 110px 0px;
	color: white;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
	text-align: left;

}

.banner h2{
	font-size: 25px;
	font-weight: 200;
	opacity : 0.9;
	padding: 0px;
	margin-bottom: 50px;

}

.banner a{
	margin-left: 120px;
	transition: background-color 0.8s ease;
}

.banner a:hover{
	background-color: #FF6161;
}

.banner .container{
	text-align: left;
	padding: 0px;
	margin: 30px;
}